<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ak.platform.mapper.system.SysApplicationMapper">

    <resultMap id="sysApplicationResult" type="com.ak.platform.domain.system.SysApplication">
        <id property="appCode" column="app_code"/>
        <result property="appName" column="app_name"/>
        <result property="appUri" column="app_uri"/>
        <result property="appType" column="app_type"/>
        <result property="appAddress" column="app_address"/>
        <result property="sort" column="sort"/>
        <result property="remark" column="remark"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="selectAppliactionVo">
        select a.app_code,
        a.app_name,
        a.status,
        a.app_uri,
        a.app_type,
        a.app_address,
        a.sort,
        a.remark,
        a.create_time
        from sys_application a
    </sql>

    <!--系统列表-->
    <select id="selectApplicationList" resultMap="sysApplicationResult">
        <include refid="selectAppliactionVo"/>
        <where>
            a.del_flag = 0
            <if test="appName != null and appName != ''">
                AND a.app_name like '%${appName}%'
            </if>
        </where>
        order by sort
    </select>
    <!--添加系统-->
    <insert id="insertApplication" parameterType="com.ak.platform.domain.system.SysApplication" keyProperty="appCode">
        insert into sys_application(
        <if test="appCode != null and appCode != ''">app_code,</if>
        <if test="appName != null and appName != ''">app_name,</if>
        <if test="appUri != null and appUri != ''">app_uri,</if>
        <if test="appType != null and appType != ''">app_type,</if>
        <if test="appAddress != null and appAddress != ''">app_address,</if>
        <if test="status != null and status != ''">status,</if>
        <if test="sort != null and sort != ''">sort,</if>
        <if test="remark != null and remark != ''">remark,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        create_time
        )values(
        <if test="appCode != null and appCode != ''">#{appCode},</if>
        <if test="appName != null and appName != ''">#{appName},</if>
        <if test="appUri != null and appUri != ''">#{appUri},</if>
        <if test="appType != null and appType != ''">#{appType},</if>
        <if test="appAddress != null and appAddress != ''">#{appAddress},</if>
        <if test="status != null and status != ''">#{status},</if>
        <if test="sort != null and sort != ''">#{sort},</if>
        <if test="remark != null and remark != ''">#{remark},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        sysdate()
        )
    </insert>
    <!--修改-->
    <update id="updateApplication" parameterType="com.ak.platform.domain.system.SysApplication">
        update sys_application
        <set>
            <if test="appName != null and appName != ''">app_name = #{appName},</if>
            <if test="appUri != null and appUri != ''">app_uri = #{appUri},</if>
            <if test="appType != null and appType != ''">app_type = #{appType},</if>
            <if test="appAddress != null and appAddress != ''">app_address = #{appAddress},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="sort != null and sort != ''">sort = #{sort},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="delFlag != null and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where app_code = #{appCode}
    </update>
    <!--根据主建编码查询-->
    <select id="selectSysApplicationByAppCode" resultMap="sysApplicationResult">
        <include refid="selectAppliactionVo"/>
        where app_code = #{appCode}
    </select>
    <!--根据主建编码删除-->
    <delete id="deleteApplicationByCode" parameterType="String">
        delete from sys_application where app_code = #{appCode}
    </delete>

    <select id="checkAppCodeUnique" parameterType="String" resultType="Integer">
        select count(1) from sys_application where app_code = #{appCode}
    </select>

    <select id="selectApplicationsTenant" resultMap="sysApplicationResult">
        <include refid="selectAppliactionVo"/>
        where a.del_flag = '0' and a.app_type = '1'
        order by sort
    </select>

    <select id="selectApplicationsByTenantCode" parameterType="String" resultMap="sysApplicationResult">
        <include refid="selectAppliactionVo"/>
        left join sys_tenant_application ta on ta.app_code = a.app_code
        where a.del_flag = '0' and a.app_type = '1' and ta.tenant_code = #{tenantCode}
        order by sort
    </select>


    <!--  TODO 有待优化 -->
    <select id="getSysApplications" resultMap="sysApplicationResult">
        <include refid="selectAppliactionVo"/>
        where a.del_flag = 0
        order by sort
    </select>

</mapper>
