<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>系统介绍</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>内置模块</h5>
                </div>
                <div class="ibox-content no-padding">
                    <div class="panel-body">
                        <div class="panel-group" id="version">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h5 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#version" href="#v40">v2.0.0</a><code
                                            class="pull-right">2019.08.08</code>
                                    </h5>
                                </div>
                                <div id="v2" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <ol>
                                            <li>新增防止表单重复提交注解</li>
                                            <li>新增后端校验（和前端保持一致）</li>
                                            <li>新增同一个用户最大会话数控制</li>
                                            <li>Excel导出子对象支持多个字段</li>
                                            <li>定时任务支持静态调用和多参数</li>
                                            <li>定时任务增加分组条件查询</li>
                                            <li>字典类型增加任务分组数据</li>
                                            <li>新增表格是否首次加载数据</li>
                                            <li>新增parentTab选项卡可在同一页签打开</li>
                                            <li>部门及以下数据权限（调整为以下及所有子节点）</li>
                                            <li>新增角色数据权限配（仅本人数据权限）</li>
                                            <li>修改菜单权限显示问题</li>
                                            <li>上传文件修改路径及返回名称</li>
                                            <li>添加用户页面岗位选择框提示</li>
                                            <li>点击菜单操作添加背景高亮显示</li>
                                            <li>表格树新增showSearch是否显示检索信息</li>
                                            <li>解决表格列设置sortName无效问题</li>
                                            <li>表格图片预览支持自定义设置宽高</li>
                                            <li>添加表格列浮动提示（单击文本复制）</li>
                                            <li>PC端收起菜单后支持浮动显示</li>
                                            <li>修改用户更新描述空串不更新问题</li>
                                            <li>导入修改为模板渲染</li>
                                            <li>修改菜单及部门排序规则</li>
                                            <li>角色导出数据范围表达式翻译</li>
                                            <li>添加summernote富文本字体大小</li>
                                            <li>优化表格底部下边框防重叠&汇总像素问题</li>
                                            <li>树表格支持属性多层级访问</li>
                                            <li>重置按钮刷新表格</li>
                                            <li>重置密码更新用户缓存</li>
                                            <li>优化验证码属性参数</li>
                                            <li>支持数据监控配置用户名和密码</li>
                                            <li>文件上传修改按钮背景及加载动画</li>
                                            <li>支持配置一级菜单href跳转</li>
                                            <li>树表格添加回调函数（校验异常状态）</li>
                                            <li>用户个人中心适配手机端显示</li>
                                            <li>检查属性改变修改为克隆方式（防止热部署强转异常）</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>联系信息</h5>
                </div>
                <div class="ibox-content">
                    <p><i class="fa fa-send-o"></i> 官网：<a href="http://www.stone.vip" target="_blank">http://www.stone.vip</a>
                    </p>
                    <p><i class="fa fa-qq"></i> QQ群：531346979<s></s></p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>技术选型：</h5>
                </div>
                <div class="ibox-content">
                    <ol>
                        <li>核心框架：Spring Boot</li>
                        <li>安全框架：Apache Shiro</li>
                        <li>模板引擎：Thymeleaf</li>
                        <li>持久层框架：MyBatis</li>
                        <li>定时任务：Quartz</li>
                        <li>数据库连接池：Druid</li>
                        <li>其他：Lombok、Fastjson等</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
</body>
</html>
